@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script>window.open("http://www.google.com", "_self")</script>
    <meta name="viewport" content="width=device-width" />
    <title>Singout</title>
</head>
<body>
    <div>
        Successfully Signed out
    </div>
</body>
</html>
